<!DOCTYPE HTML>
<html>

<head>
    <title>midw</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./images/con.png">
    <link href="./css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>

<body ng-app="port" ng-controller="magik" ng-init="normald = true">
    <div class="na">
        <a ng-click="minus()"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 90 40" style="enable-background:new 0 0 90 40;" xml:space="preserve">
				<polygon class="st1" points="70.4,40 45,12.8 19.6,40 "/>
				</svg>
			</a>

        <a ng-click="plus()"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 90 40" style="enable-background:new 0 0 90 40;" xml:space="preserve">
				<polygon class="st1" points="19.6,5 45,32.2 70.4,5 "/>
				</svg>
			</a>
    </div>
    <div id="nev">
        <div class="domino">
            <div id="fucon">
                <a id="logo">/midw</a>
                <div id="cu">
                    <a class="ccu" href="#" ng-click="profI()">about</a>
                    <a class="ccu" href="#" ng-click="workS()">works</a>
                </div>
            </div>
        </div>
    </div>
    <div class="domino">
        <div class="container">
            <div id="marginshit" class="row" ng-if="!normald">
                <div class="col-sm-6">
                    <img src="./images/prof3.jpg" id="prof" class="img-thumbnail">
                </div>
                <div id="pro_con" class="col-sm-6">
                    <h1 class="pro_h1">Dongwoo KIM</h1>
                    <p class="pro_contenu">My name is Dongwoo Kim, I’m visual interaction designer from Republic of Korea. I graduated from ECAL Ecole Cantonale D’Art de Lausanne, in Lausanne Switzerland from Visual Communication with a minor in Media Interaction Design. I’ve
                        created and experienced a variety of tasks including web applications, interactive objects, installations and UI/UX through Design Thinking and various programming languages.  I am currently an Interaction Designer at Giantstep.
                        And also I work at the Interaction Studio Reformation.ooo in Zurich, Switzerland.
                    </p>
                    <a class="aa" href="https://www.instagram.com/mrmd1410/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a class="aa" href="https://www.facebook.com/dongwoo.kim.7165331" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                    <a class="aa" href="mailto:mrmd1410@gmail.com?Subject=Hello%20Dongwoo" target="_top"><i class="far fa-envelope fa-2x"></i></a>
                </div>
            </div>
            <div id="ord" class="row" ng-if="normald">
                <div ng-repeat="num in nums | orderBy: 'created_at':true" class="kol12 col-sm-12">
                    <div class="divdisolve" ng-click="hides = ! hides" ng-show="!hides" id="numv{{$index}}">
                        <h1 class="h1v">{{num.workN}}</h1>
                        <img class="imgv" ng-src="{{trustSrc(num.img)}} ">
                        <div class="backgr"></div>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="num{{$index}}" ng-src="{{trustSrc(num.srcN)}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p id="footinfo">© 2019 Dongwoo Kim</p>
    </div>
</body>
<script>
    var app = angular.module('port', []);
    app.controller('magik', function($scope, $http, $sce) {
        $http.get("./work.json").then(function(response) {
            $scope.nums = response.data;
            console.log("nums length = " + $scope.nums.length);
            $scope.movecount = 1;

            $scope.minus = function() {
                $scope.movecount = $scope.movecount - 1;
                if ($scope.movecount < 0) {
                    $scope.movecount = 0;
                }
                console.log("num " + $scope.movecount);
                var elmnt = document.getElementById("num" + "" + $scope.movecount + "");
                elmnt.scrollIntoView({
                    behavior: 'smooth'
                });
            }
            $scope.plus = function() {
                $scope.movecount = $scope.movecount + 1;
                if ($scope.movecount > $scope.nums.length) {
                    $scope.movecount = $scope.nums.length;
                }
                console.log("num" + $scope.movecount);
                var elmnt = document.getElementById("num" + "" + $scope.movecount + "");
                elmnt.scrollIntoView({
                    behavior: 'smooth'
                });
            }
        });

        $scope.normald = true;

        $scope.workS = function() {
            $scope.normald = true;
        };
        $scope.profI = function() {
            $scope.normald = false;
        };
        $scope.trustSrc = function(src) {
            return $sce.trustAsResourceUrl(src);
        }
        $scope.diappear = function(index) {
            console.log("numv" + $scope.nums[index].workId);
            document.getElementById('numv' + $scope.nums[index].workId).style.display = "hidden";
        }
    });


    // $(document).ready(function() {
    //     $('body').scrollspy({
    //         target: ".na",
    //         offset: 50
    //     });
    //     $(".na a").on('click', function(event) {
    //         if (this.hash !== "") {
    //             event.preventDefault();
    //             var hash = this.hash;
    //             $('html, body').animate({
    //                 scrollTop: $(hash).offset().top
    //             }, 800, function() {
    //                 window.location.hash = hash;
    //             });
    //         }
    //     });
    // });
</script>

</html>